@font-face {
  font-family: SH_PINSCHER;
  src: url(assets/fonts/slkscr.ttf);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
  font-family: SH_PINSCHER;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
#hud {
  display: none;
}
.hud-container {
  position: fixed;
  top: 20;
  display: flex;
  justify-content: center;
  width: 100%;
}
.hud {
  border: solid 4px white;
  width: 300px;
  height: 45px;
  padding: 5;
  color: white;
  display: flex;
  align-items: center;
}
.hud .player-image {
  border: solid 2px white;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-image: url('./assets/sprite/character.png');
  background-size: contain;
}
.hud .stats {
  line-height: 1.5;
  font-size: 14px;
  width: 100%;
}
.hud .stats .health, .sanity {
  display: flex;
  align-items: center;
}

.hud .stats #health-bar, #sanity-bar {
  border: solid 2px white;
  height: 10px;
  width: 100%;
  margin-left: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#health, #sanity {
  height: 8px;
  width: 100%;
  border-radius: 10px;
}

#health {
  background-color: rgb(153, 0, 0);
}

#sanity {
  background-color: rgb(86, 252, 86);
}

.css-typing {
  display: none;
  position: absolute;
  width: 40%;
  right: 10%;
  top: 10%;
  color: white;
  font-weight: 600;
}

.css-typing p {
  border-right: .15em solid orange;
  font-family: "Courier";
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 22.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 18.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 30.3em;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
